.dropdown {
  position: relative;
  display: inline-block;
  float: right;
  margin-right: 0.8rem;
  margin-top: 1rem;
}

.dropdown-button {
  background-color: rgb(200, 222, 39);
  color: rgb(17, 17, 17);
  padding: 7px 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
}

.dropdown-content {
  display: none; 
  position: absolute;
  margin-left: -2rem;
  background-color: rgba(164, 166, 162, 0.918);
  width: 6rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  top: 100%;
  margin-top: 5px;
  overflow: hidden;
}

.dropdown-content a {
  color: rgba(255, 255, 255, 0.908);
  padding: 6px 6px;
  font-weight: 500;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(200, 222, 39);
}

.dropdown-button:hover {
  background-color: rgb(200, 222, 39);
}

/* Responsive styles */
@media (max-width: 599px) {
  /* On mobile, show the dropdown when the button is clicked */
  .dropdown-content.show {
    display: block;
  }
}

@media (min-width: 600px) {
  /* On tablets and desktops */
  .dropdown {
    float: right;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: fit-content;
  }

  .dropdown-button {
    display: none; /* Hide the button on larger screens */
  }

  .dropdown-content {
    display: flex;
    position: static;
    margin-left: 0;
    background-color: transparent;
    box-shadow: none;
    width: auto;
    top: auto;
    margin-top: 0;
    flex-direction: row;
    
  }

  .dropdown-content a {
    color: rgba(243, 239, 239, 0.908);
    padding: 7px 10px;
    padding-top: 1.2rem;
    font-size: 1.2rem;
    border-radius: 4px;
  }

  .dropdown-content a:hover {
    background-color: rgba(200, 222, 39, 0.8);
  }
}
